[Unit]
Description=OpenStack cloud interconnection agent
After=mysql.service openvswitch-switch.service 
Requires=intercoctl.service
PartOf=intercoctl.service

[Service]
Type=simple
EnvironmentFile=/etc/interco/path.conf
ExecStart=/usr/bin/python3 ${PYTHONPATH}/agent/agent.py -c /etc/interco/agent.conf
TimeoutStopSec=6
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target
