# Configuration for Cloud Interconnection
{% for vpn_connection in vpn_connections -%}
{{vpn_connection.link.self_id}}-{{vpn_connection.link.self_ip}} {{vpn_connection.link.peer_id}}-{%- if vpn_connection.link.peer_nated_ip is not none %}{{vpn_connection.link.peer_nated_ip}}{%- else %}{{vpn_connection.link.peer_ip}}{%- endif %} : PSK "{{vpn_connection.secret}}"
{% endfor %}
