
# Configuration for Interco_agent
config setup
    uniqueids = no

conn %default
    ikelifetime=60m
    keylife=20m
    rekeymargin=3m
    keyingtries=1
    authby=psk
    mobike=no
{% for vpn_connection in vpn_connections -%}
conn {{ vpn_connection["node_id"] }}
    keyexchange={{ vpn_connection["ike_version"] }}
    left={{ vpn_connection["self_ip"] }}
    leftid={{ vpn_connection["self_id"] }}
    leftfirewall=yes
    {%- if "peer_public_ip" in vpn_connection%}
    right={{ vpn_connection["peer_public_ip"] }}
    rightsubnet={{vpn_connection.link.peer_ip}}/32
    {%- else %}
    right={{ vpn_connection["peer_ip"] }}
    {%- endif %}
    rightid={{ vpn_connection["peer_id"] }}
    auto=route
    closeaction=restart
    dpdaction={{ vpn_connection["dpd_action"] }}
    dpddelay={{ vpn_connection["dpd_interval"] }}s
    dpdtimeout={{ vpn_connection["dpd_timeout"] }}s
    ike={{ vpn_connection["ike_encryption_algorithm"] }}-{{ vpn_connection["ike_auth_algorithm"] }}-{{ vpn_connection["ike_pfs"] }}
    ikelifetime={{ vpn_connection["ike_lifetime"]}}s
    {%- if vpn_connection["ipsec_transform_protocol"] == "ah" %}
    ah={ {vpn_connection["ipsec_auth_algorithm"] }}-{{ vpn_connection["ipsec_pfs"] }}
    {%- else %}
    esp={{ vpn_connection["ipsec_encryption_algorithm"] }}-{{ vpn_connection["ipsec_auth_algorithm"] }}-{{ vpn_connection["ipsec_pfs"] }}
    {%- endif %}
    lifetime={{ vpn_connection["ipsec_lifetime"] }}s
    {%- if "peer_public_ip" not in vpn_connection %}
    type={{ vpn_connection["ipsec_encapsulation_mode"] }}
    {%- endif %}
    
    
{% endfor %}
